<a v-show="imgRealtime.{{ form.key }} && imgRealtime.{{ form.key }}.url"
   :href="imgRealtime.{{ form.key }} && imgRealtime.{{ form.key }}.url"
   :data-caption="imgRealtime.{{ form.key }} && imgRealtime.{{ form.key }}.url"
   data-fancybox="persistence"
   class="bsw-preview-image"
>
    <p class="bsw-hide" v-init:data-img-realtime:{{ form.keyForInit }}='{"url":"{{ form.valueShadow }}"}'></p>
    <img :style="{maxWidth: '{{ form.maxWidth }}px', maxHeight: '{{ form.maxHeight }}px'}"
         id="img-realtime-{{ form.key }}"
         :src="imgRealtime.{{ form.key }} && imgRealtime.{{ form.key }}.url"
    >
</a>
{% include 'form/upload.html.twig' with {form: form} %}
